@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Codystar:wght@300;400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Anton&family=Bebas+Neue&family=Carter+One&family=Codystar:wght@300;400&family=Lilita+One&family=Poetsen+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .titulo {
  font-family: "Abril Fatface";
  color: white;
  background-color: #111;
}
header .titulo h1 {
  font-family: Arial, Helvetica;
  text-align: center;
  margin-bottom: 0 !important;
  margin-left: 20px;
  font-size: 15px;
  padding: 5px;
  font-weight: 600;
}
header .allstar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(235, 235, 235, 0.8470588235);
}
header .allstar ul {
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
}
header .allstar li {
  display: flex;
  justify-content: space-around;
}
header .allstar img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 5px;
}
header .allstar a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-family: Arial, Helvetica;
  margin-left: 5px;
}

.navbar-collapse {
  flex-grow: inherit;
  flex-basis: 60% !important;
  align-items: center;
  font-weight: 650;
}

.me-2 {
  border-radius: 999px;
}

.me-2:hover {
  border-color: #111;
}

.bi-bag-check-fill {
  margin-left: 10px;
  transition: 1s;
}

.nav-item li a {
  font-size: 40px;
}

.logo {
  width: 120px;
  height: 80px;
  transition: 1s;
}
.logo:hover {
  transform: scale(1.1);
}

.btn-secondary {
  background-color: #111;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.menu .home p {
  margin-top: 20px;
  font-weight: 600;
}
.menu .home a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
.menu .home h3 {
  margin-left: 20px;
  font-size: 25px;
}
.menu .dropdown {
  margin-top: 50px;
  margin-right: 10px;
}

.caja {
  display: flex;
  margin-top: 20px;
}
.caja .caja-1 {
  width: 250px;
  height: 100%;
  border: 2px white solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.caja .caja-1 .oportunidades {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.349);
  width: 170px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.caja .caja-1 .oportunidades h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.caja .caja-1 .oportunidades .oportunidades-1 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.caja .caja-1 .oportunidades .oportunidades-1 label {
  height: 20px;
  width: 30%;
  border: 1px solid rgba(22, 20, 20, 0.4941176471);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.caja .caja-1 .tecno {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.caja .caja-1 .tecno h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.caja .caja-2 {
  width: 100%;
  height: 100%;
  border: 2px white solid;
}
.caja .caja-2 .zapatillas {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.caja .caja-2 .zapatillas div {
  text-align: center;
  border: 2px solid white;
  width: 400px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 30px;
  transition: 1s;
}
.caja .caja-2 .zapatillas div:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
}
.caja .caja-2 .zapatillas div img {
  width: 100%;
  height: 350px;
}
.caja .caja-2 .zapatillas div p {
  color: #9e3500;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial, Helvetica;
}
.caja .caja-2 .zapatillas div h2 {
  font-size: 20px;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-bottom: 10px;
}
.caja .caja-2 .zapatillas div h3 {
  font-size: 15px;
  color: #6c6c6d;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-top: 20px;
}
.caja .caja-2 .zapatillas div h4 {
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica;
  font-weight: 700;
}
.caja .caja-2 .zapatillas div button {
  background-color: #111;
  color: white;
  border-radius: 999px;
  padding: 10px;
  margin-top: 10px;
  transition: 1s;
}

.nosotros-1 {
  background-image: url(../img/nosotros-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nosotros-1 .nosotros-3 {
  color: white;
  border: 2px rgb(255, 255, 255);
  width: 600px;
  height: 600px;
  margin-right: 50px;
  text-align: center;
}
.nosotros-1 .nosotros-3 img {
  width: 250px;
  height: 150px;
}
.nosotros-1 .nosotros-3 h2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}
.nosotros-1 .nosotros-3 a {
  text-decoration: none;
  color: black;
}
.nosotros-1 .nosotros-3 a h3 {
  width: 600px;
  margin-right: 50px;
  background-color: white;
  font-size: 30px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
  transition: 1s;
}
.nosotros-1 .nosotros-3 a h3:hover {
  transform: scale(1.1);
}
.nosotros-1 .maps div iframe {
  margin-top: 50px;
  align-items: center;
}
.nosotros-1 .iconos {
  display: flex;
  justify-content: space-around;
}
.nosotros-1 .iconos .iconos-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.nosotros-1 .iconos .iconos-1 a img {
  background-color: white;
  border: 2px solid white;
  border-radius: 999px;
  padding: 8px;
  margin: 10px;
  transition: 1s;
}
.nosotros-1 .iconos .iconos-1 a img:hover {
  transform: scale(1.1);
}
.nosotros-1 .iconos .iconos-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.nosotros-1 .iconos .iconos-2 a {
  text-decoration: none;
  color: white;
  font-family: "Poetsen One", sans-serif;
  font-weight: 300;
}

.animate__bounceInRight {
  --animate-duration: 1.7s;
}

.nosotros-P {
  font-size: 30px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
  transition: 1s;
}
.nosotros-P:hover {
  transform: scale(1.1);
}

.Productos {
  display: flex;
  justify-content: space-around;
}
.Productos div {
  border: 2px white solid;
  width: 400px;
  height: 640px;
  text-align: center;
  margin: 50px;
  transition: 1s;
}
.Productos div:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
}
.Productos div img {
  width: 100%;
  height: 420px;
  padding: 5px;
}
.Productos div p {
  color: #9e3500;
  margin-top: 15px;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial, Helvetica;
}
.Productos div h2 {
  font-size: 20px;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-bottom: 10px;
}
.Productos div h3 {
  font-size: 15px;
  color: #6c6c6d;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-top: 20px;
}
.Productos div h4 {
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-top: 5px;
}
.Productos div button {
  background-color: black;
  color: white;
  border-radius: 999px;
  padding: 10px;
  margin-top: 10px;
}
.Productos .productos-c img {
  width: 100%;
}
.Productos .productos-r img {
  width: 390px;
}

.sec-mujer {
  display: flex;
  justify-content: center;
}
.sec-mujer img {
  width: 50%;
  height: 700px;
  border-right: 5px solid white;
}

.sec-mujer-titulo {
  text-align: center;
}
.sec-mujer-titulo h2 {
  font-size: 60px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.sec-mujer-titulo p {
  font-size: 20px;
  font-family: Arial, Helvetica;
  font-weight: 400;
  margin-top: 10px;
}
.sec-mujer-titulo button {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 999px;
  padding: 10px;
  transition: 1s;
}
.sec-mujer-titulo button:hover {
  transform: scale(1.1);
  background-color: #700000;
}

.zapatillas {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.zapatillas div {
  text-align: center;
  border: 2px solid white;
  width: 400px;
  padding: 10px;
  margin-bottom: 50px;
  transition: 1s;
}
.zapatillas div:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
}
.zapatillas div img {
  width: 100%;
  height: 350px;
}
.zapatillas div p {
  color: #9e3500;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial, Helvetica;
}
.zapatillas div h2 {
  font-size: 20px;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-bottom: 10px;
}
.zapatillas div h3 {
  font-size: 15px;
  color: #6c6c6d;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-top: 20px;
}
.zapatillas div h4 {
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica;
  font-weight: 700;
}
.zapatillas div button {
  background-color: black;
  color: white;
  border-radius: 999px;
  padding: 10px;
  margin-top: 10px;
}

.calzado {
  margin: 50px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.sec-mujer1 {
  display: flex;
  flex-direction: column;
}
.sec-mujer1 div {
  display: flex;
  justify-content: space-around;
}
.sec-mujer1 div img {
  width: 50%;
  height: 800px;
  border-right: 5px solid white;
}
.sec-mujer1 div {
  display: flex;
  justify-content: space-around;
}
.sec-mujer1 div a {
  margin-top: 15px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.Productos-t {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.Productos-t div {
  border: 2px white solid;
  width: 435px;
  height: 670px;
  text-align: center;
  transition: 1s;
  margin-bottom: 50px;
}
.Productos-t div:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 32px -4px rgba(0, 0, 0, 0.4);
}
.Productos-t div img {
  width: 100%;
  height: 450px;
  padding: 5px;
}
.Productos-t div p {
  color: #9e3500;
  margin-top: 10px;
  font-weight: 700;
  font-size: 15px;
  font-family: Arial, Helvetica;
}
.Productos-t div h2 {
  font-size: 20px;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-bottom: 5px;
}
.Productos-t div h3 {
  font-size: 15px;
  color: #6c6c6d;
  font-family: Arial, Helvetica;
  font-weight: 700;
  margin-top: 20px;
}
.Productos-t div h4 {
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica;
  font-weight: 700;
}
.Productos-t div button {
  background-color: black;
  color: white;
  border-radius: 999px;
  padding: 10px;
}

.comunidad {
  text-align: center;
  margin-left: 30px;
}
.comunidad img {
  width: 280px;
  height: 200px;
}
.comunidad h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Alfa Slab One", serif;
}
.comunidad p {
  font-size: 20px;
}

form .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 900px) !important;
  grid-template-rows: repeat(4, 100px) !important;
  gap: 0 18px;
  margin-left: 30px;
  margin-top: 30px;
}
form .grid-container .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
form .grid-container .container label {
  margin: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica;
}
form .grid-container .container input {
  height: auto;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #3f3f40;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
form .grid-container .container select {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #3f3f40;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
form .grid-container .enviar {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}
form .grid-container .enviar input {
  background-color: #111;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica;
  font-weight: 600;
  width: 400px;
  height: 45px;
  transition: 1s;
}
form .grid-container .enviar input:hover {
  transform: scale(1.1);
}

.terminos p {
  text-align: center;
  font-weight: 700;
  margin: 10px;
}
.terminos p span {
  transition: 1s;
}
.terminos p span:hover {
  transform: scale(1);
  color: rgb(0, 0, 172);
}

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 60px;
  transition: 1s;
}
.whatsapp:hover {
  transform: scale(1.1);
}

.fondo {
  font-family: "Ancizar Serif", serif;
  background-color: #111;
  width: 100%;
  height: 250px;
  color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.fondo div h2 {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(235, 235, 235, 0.8470588235);
}
.fondo div ul {
  list-style: none;
  margin: 20px;
  color: rgba(255, 255, 255, 0.397);
  padding-left: 0 !important;
}
.fondo div a {
  padding-left: 10px;
}
.fondo .iconos-footer {
  padding-right: 8px;
}
.fondo .iconos-footer a img {
  transition: 1s;
}
.fondo .iconos-footer a img:hover {
  transform: scale(1.1);
}
.fondo .pedidos p {
  margin: 20px;
  font-size: 20px;
}
.fondo .pedidos a {
  text-decoration: none;
  color: rgba(235, 235, 235, 0.8470588235);
}

.derechos {
  font-size: 15px;
  text-align: center;
  background-color: #111;
  width: 100%;
  color: rgb(151, 151, 151);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-top: 1px solid rgba(170, 170, 170, 0.342);
}
.derechos .derechos-1 {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.derechos .derechos-1 a {
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(151, 151, 151);
}
.derechos .derechos-1 img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.derechos .derechos-2 {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.derechos .derechos-2 a {
  font-size: 13px;
  margin: 20px;
  text-decoration: none;
  color: rgb(151, 151, 151);
}

@media screen and (max-width: 1629px) {
  .zapatillas div {
    text-align: center;
    border: 2px solid white;
    width: 350px;
    padding: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 600px !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .grid-container .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 400px;
  }
  .grid-container .container input {
    height: auto;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f40;
    font-weight: 400;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1466px) {
  .zapatillas div {
    text-align: center;
    border: 2px solid white;
    width: 175px;
    padding: 5px;
    margin-left: 10px;
  }
  .zapatillas div img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 1139px) {
  .zapatillas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
  }
  .sec-mujer img {
    width: 50%;
    height: 500px;
  }
  .sec-mujer1 img {
    width: 50%;
    height: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .Productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .Productos div {
    border: 2px white solid;
    width: 400px;
    height: 450px;
    text-align: center;
    margin: 0px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1, 900px;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .nosotros-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
  }
  .nosotros-1 .nosotros-3 {
    font-size: 13px;
    color: white;
    border: 2px rgb(255, 255, 255);
    width: 350px;
    height: 620px;
    text-align: center;
    margin-left: 40px;
    padding: 30px;
  }
  .nosotros-1 .nosotros-3 img {
    width: 110px;
    height: 80px;
  }
  .nosotros-1 .nosotros-3 a h3 {
    margin-right: 50px;
    background-color: white;
    width: 300px;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 0px;
  }
  .nosotros-1 .maps {
    margin-left: 30px;
  }
  .nosotros-1 .maps div iframe {
    width: 200px;
    height: 150px;
    margin-top: 50px !important;
    align-items: center;
  }
  .nosotros-1 .maps .iconos .iconos-1 a {
    margin: 5px;
  }
  .nosotros-1 .maps .iconos .iconos-1 a img {
    width: 40px;
    height: 40px;
  }
  .nosotros-1 .maps .iconos .iconos-2 a {
    text-decoration: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-size: 10px;
    padding-left: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 761px) {
  .fondo {
    font-family: "Ancizar Serif", serif;
    background-color: #111;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .sec-mujer img {
    width: 50%;
    height: 200px;
  }
  .sec-mujer-titulo h2 {
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    margin-top: 10px;
  }
  .sec-mujer-titulo p {
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 400;
    margin-top: 10px;
  }
  .zapatillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .calzado {
    text-align: center;
    margin: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-size: 25px;
  }
  .sec-mujer1 div img {
    width: 50%;
    height: 200px;
  }
  .sec-mujer1 div a {
    margin-top: 15px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    margin-left: 30px;
    font-size: 10px;
  }
  .Productos-t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Productos-t div p {
    color: #9e3500;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica;
  }
  .Productos-t div h2 {
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .Productos-t div h3 {
    font-size: 10px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
  }
  .Productos-t div h4 {
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
  }
  .iconos .iconos-1 a {
    width: 40px;
    height: 40px;
  }
  .iconos .iconos-2 a {
    text-decoration: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 761px) and (max-width: 655px) {
  .derechos {
    font-size: 10px;
    text-align: center;
    background-color: #111;
    width: 100%;
    color: #3f3f40;
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
    display: flex;
    flex-wrap: wrap;
  }
  .derechos .derechos-1 a {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 7px;
    text-decoration: none;
    color: rgb(151, 151, 151);
  }
  .derechos .derechos-2 {
    text-decoration: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 200px) !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .grid-container .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 200px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 761px) and (max-width: 614px) {
  .zapatillas div {
    text-align: center;
    border: 2px solid white;
    width: 175px;
    padding: 5px;
  }
  .zapatillas div img {
    width: 100%;
    height: 200px;
  }
  .caja .caja-1 {
    width: 175px;
    height: 100%;
    border: 2px white solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .caja .caja-2 {
    width: 175px;
    height: 100%;
    border: 1px white solid;
  }
  .fondo img {
    padding-left: 10px;
  }
  .fondo li {
    font-size: 15px;
  }
  .Productos-t {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
  }
  .Productos-t div {
    border: 2px white solid;
    width: 200px;
    height: 450px;
    text-align: center;
    margin: 20px;
  }
  .Productos-t div img {
    width: 100%;
    height: 250px;
    padding: 5px;
  }
  .Productos-t div p {
    margin-top: 0px !important;
  }
  .titulo h1 {
    font-family: Arial, Helvetica;
    text-align: center;
    margin-bottom: 0 !important;
    margin-left: 20px;
    font-size: 13px;
    padding: 5px;
  }
  .Productos div {
    border: 2px white solid;
    width: 300px;
    height: 600px;
    text-align: center;
    margin: 50px;
  }
  .Productos div img {
    width: 100%;
    height: 320px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 761px) and (max-width: 503px) {
  .caja-1 {
    width: 100px;
    height: 100%;
    border: 2px white solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .zapatillas div {
    text-align: center;
    border: 2px solid white;
    width: 200px;
    padding: 5px;
  }
  .dropdown {
    margin-top: 40px;
    margin-left: 10px !important;
  }
  .derechos {
    font-size: 15px;
    text-align: center;
    background-color: #111;
    width: 100%;
    color: rgb(151, 151, 151);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
  }
  .derechos .derechos-1 {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin: 10px;
  }
  .derechos .derechos-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
  }
  .allstar img {
    width: 30px !important;
    height: 30px !important;
    margin-left: 50px;
    margin-top: 10px;
  }
  .allstar ul li a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica;
    margin-left: 5px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 761px) and (max-width: 400px) {
  .whatsapp {
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 10px;
    height: 10px;
  }
  .menu .home h3 {
    margin-left: 10px;
    font-size: 17px;
  }
  .menu .home p {
    margin-top: 20px;
  }
  .menu .home p a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 15px;
  }
  .caja .caja-1 {
    width: 155px;
    height: 100%;
    border: 2px white solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .caja .caja-1 .oportunidades {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    width: 130px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .caja .caja-1 .oportunidades label {
    font-size: 13px;
  }
  .caja .caja-1 .oportunidades h3 {
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .caja .caja-1 .tecno {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .caja .caja-1 .tecno h3 {
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .caja .caja-2 .zapatillas div {
    text-align: center;
    border: 2px solid white;
    width: 150px;
    padding: 5px;
  }
  .caja .caja-2 .zapatillas div img {
    width: 100%;
    height: 150px;
  }
  .caja .caja-2 .zapatillas div h2 {
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .caja .caja-2 .zapatillas div h3 {
    font-size: 12px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
  }
  .caja .caja-2 .zapatillas div h4 {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
  }
  .Productos div {
    border: 2px white solid;
    width: 250px;
    height: 500px;
    text-align: center;
    margin: 50px;
  }
  .Productos div img {
    width: 100%;
    height: 260px;
  }
  form .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 175px) !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 0px;
    margin-left: 0px;
    margin-top: 30px;
  }
  form .grid-container .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 150px;
  }
  form .grid-container .container input {
    height: auto;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
  }
  form .grid-container .container label {
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica;
  }
  .comunidad h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Alfa Slab One", serif;
  }
  .comunidad p {
    font-size: 15px;
    margin-right: 10px;
  }
  .terminos {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
  }
  .terminos p span {
    transition: 1s;
  }
  .terminos p span:hover {
    transform: scale(1);
    color: rgb(0, 0, 172);
  }
  .enviar input {
    background-color: #111;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica;
    font-weight: 600;
    width: 130px;
    height: 30px;
  }
  .contraseña {
    padding-top: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .fondo .pedidos p {
    margin: 5px;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
