@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Codystar:wght@300;400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Anton&family=Bebas+Neue&family=Carter+One&family=Codystar:wght@300;400&family=Lilita+One&family=Poetsen+One&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/** ---- HEADER ---- **/

.titulo{
    font-family: "Abril Fatface";
    color: white;
    background-color: #111;
}

.titulo h1{
    font-family: Arial, Helvetica;
    text-align: center;
    margin-bottom: 0 !important;
    margin-left: 20px;
    font-size: 15px;
    padding: 5px;
}



.allstar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #ebebebd8;
}

.allstar ul{
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
}

.allstar ul li{
    display: flex;
    justify-content: space-around;
}

.allstar img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-top: 5px;
}

.allstar a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica;
    margin-left: 5px;
}

.navbar-collapse {
    flex-grow: inherit;
    flex-basis: 60% !important;
    align-items: center;
    font-weight: 650;
}

.me-2{
    border-radius: 999px;
}

.button{
    border: black;
    border-radius: 999px;
}

.bi-bag-check-fill{
    margin-left: 10px;
}

.nav-item li a{
    font-size: 40px;
}

.logo{
    width: 120px;
    height: 80px;
}


/* MAIN */

/* INDEX */

.btn-secondary{
    background-color: black;
    color: white;
}

.zapatillas-1{
    width: 100%;
}

.zapatillas{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.zapatillas div img{
    width: 100%;
    height: 350px;
}

.zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 400px;
    padding: 10px;
    margin: 20px;
}

.zapatillas p{
    color: #9e3500;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica;
}

.zapatillas h2{
    font-size: 20px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
}

.zapatillas h3{
    font-size: 15px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
}


.zapatillas h4{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
}

.zapatillas button{
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 10px;
    margin-top: 10  px;
}

.camperas img{
    width: 370px;
    height: 400px;
}

.whatsapp{
    position: fixed;
    right: 30px;
    bottom: 60px;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.dropdown{
    margin-top: 50px;
    text-align: end;
}

.home p{
    margin-top: 20px;
}

.home p a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

.home h3{
    margin-left: 20px;
    font-size: 25px;
}


.caja{
    display: flex;
    margin-top: 20px;
}

.caja-1{
    width: 250px;
    height: 100%;
    border : 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oportunidades{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    width: 170px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.oportunidades h3{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.tecno h3{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.tecno{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.oportunidades-1{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.oportunidades-1 label{
    height: 20px;
    width: 30%;
    border: 1px solid #1614147e;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.caja-2{
    width: 100%;
    height: 100%;
    border: 2px white solid;
}




/*NOSOTROS*/

.nosotros-P{
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.nosotros-titulo{
    margin-right: 90px;
    color: white;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.nosotros-1{
    background-image: url(../img/nosotros-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin-bottom: 40px;
}

.iconos-1 a img{
    background-color: white;
    border: 2px solid white;
    border-radius: 999px;
    padding: 8px;
    margin: 10px;
}

.iconos{
    display: flex;
    justify-content: space-around;
}

.iconos-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.iconos-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.iconos-2 a{
    text-decoration: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
}

.maps iframe{
    margin-top: 50px;
    align-items: center;
}

.nosotros-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nosotros-3 h2{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}

.nosotros-3{
    color: white;
    border: 2px rgb(255, 255, 255);
    width: 600px;
    height: 600px;
    margin-right: 50px;
    text-align: center;
}

.nosotros-2{
    width: 600px;
    margin-right: 50px;
    background-color: white;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 30px;
}


.nosotros-3 a{
    text-decoration: none;
    color: black;
}



.nosotros-3 img{
    width: 250px;
    height: 150px;
}

.Productos-m{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.Productos-m div{
    border: 2px black solid;
    width: 400px;
    height: 550px;
    text-align: center;
    margin: 50px
}

.Productos-m img{
    width: 350px;
    height: 420px;

}

.Productos{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.Productos div{
    border: 2px white solid;
    width: 400px;
    height: 600px;
    text-align: center;
    margin: 50px
}

.Productos img{
    width: 100%;
    height: 420px;
}

.Productos p{
    color: #9e3500;
    margin-top: 15px;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica;
}

.Productos h2{
    font-size: 20px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
}

.Productos h3{
    font-size: 15px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
}


.Productos h4{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 5px;
}

.Productos button{
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 10px;
    margin-top: 10px;
}


.Productos-c img{
    width: 100%;
}

.Productos-r img{
    width: 390px;
}

/* CONTACTO */

.comunidad{
    text-align: center;
    margin-left: 30px;
}

.comunidad h2{
    font-size: 40px;
    font-weight: 400;
    font-family: "Alfa Slab One", serif;
}

.comunidad p{
    font-size: 20px;
}

.comunidad img{
    width: 280px;
    height: 200px;
} 

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 900px) !important;
    grid-template-rows: repeat(4, 100px) !important;
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
    }


.container label{
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.container input{
    height: auto;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f40;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.container select{
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f40;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.enviar{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
}


.enviar input{
    background-color: #111;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica;
    font-weight: 600;
    width: 400px;
    height: 45px;
}

.terminos{
    text-align: center;
    font-weight: 700;
    margin: 10px;
}


/* MUJER / HOMBRE*/


.mujer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mujer a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica;
    margin-left: 10px;
    padding-left: 20px;
}

.mujer ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.sec-mujer{
    display: flex;
    justify-content: center;
}

.sec-mujer img{
    width: 50%;
    height: 700px;
}

.sec-mujer div{
    display: flex;
    flex-direction: column;
}

.sec-mujer-titulo{
    text-align: center;
}

.sec-mujer-titulo h2{
    font-size: 60px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.sec-mujer-titulo p{
    font-size: 20px;
    font-family: Arial, Helvetica;
    font-weight: 400;
    margin-top: 10px;
}

.sec-mujer-titulo button{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 10px;
}

.calzado{
    margin: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-size: 25px;
}



.sec-mujer1{
    display: flex;
    flex-direction: column;
}

.sec-mujer1 div{
    display: flex;
    justify-content: space-around;
}

.sec-mujer1 a{
    margin-top: 15px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.sec-mujer1 img{
    width: 50%;
    height: 800px;
}

.dia{
    border-right: 5px rgba(255, 255, 255, 0.5) solid;
}

.Productos-t{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.Productos-t div{
    border: 2px white solid;
    width: 435px;
    height: 650px;
    text-align: center;
    margin: 50px
}

.Productos-t img{
    width: 100%;
    height: 480px;;
}


.Productos-t p{
    color: #9e3500;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica;
}

.Productos-t h2{
    font-size: 20px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
}

.Productos-t h3{
    font-size: 15px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
}


.Productos-t h4{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
}

.Productos-t button{
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 10px;
    margin-top: 10px;
}



/** ---- FOOTER ---- **/
.fondo{
    font-family: "Ancizar Serif", serif;
    background-color:#111;
    width: 100%;
    height: 250px;
    color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.pedidos p{
    margin: 20px;
    font-size: 20px;
}

.pedidos a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}

.fondo h2{
    margin-left: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.705);
}

.fondo a{
    padding-right: 20px;
}

.fondo ul{
    list-style: none;
    margin: 20px;
    color: rgb(151, 151, 151);
    padding-left: 0 !important;
}



.derechos{
    font-size: 15px;
    text-align: center;
    background-color:#111;
    width: 100%;
    color: rgb(151, 151, 151);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
}

.derechos-1{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.derechos-1 a{
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.derechos-1 img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.derechos-2{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.derechos-2 a{
    font-size: 13px;
    margin: 20px;
    text-decoration: none;
    color: rgb(151, 151, 151);
}



/* MEDIA QUERY */
@media screen and (max-width:1629px) {
    .zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 350px;
    padding: 10px;
}
.container input{
    height: auto;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f40;
    font-weight: 400;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 600px !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 400px;
}
}


@media screen and (max-width: 1466px){
    .zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 300px;
    padding: 10px;
}
}

@media screen and (max-width: 1317px) {
    .zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 175px;
    padding: 5px;
}
    .zapatillas div img{
    width: 100%;
    height: 200px;
}
}

@media screen and (max-width: 1139px) {
    .zapatillas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}
.sec-mujer img{
    width: 50%;
    height: 500px;
}

.sec-mujer1 img{
    width: 50%;
    height: 500px;
}
}

@media screen and (max-width:1000px){
    .Productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Productos div{
    border: 2px white solid;
    width: 400px;
    height: 450px;
    text-align: center;
    margin: 10px
}

.grid-container{
    display: grid;
    grid-template-columns: 1, 900px;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
    }

    .nosotros-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.nosotros-2{
    margin-right: 50px;
    background-color: white;
    width: 500px;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 0px;
}

.nosotros-3{
    font-size: 13px;
    color: white;
    border: 2px rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    text-align: center;
}
.nosotros-3 img{
    width: 110px;
    height: 80px;
}
}

@media screen and (max-width: 761px) {
    .fondo{
    font-family: "Ancizar Serif", serif;
    background-color:#111;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.sec-mujer img{
    width: 50%;
    height: 200px;
}
.sec-mujer-titulo h2{
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.sec-mujer-titulo p{
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 400;
    margin-top: 10px;
}
.zapatillas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.calzado{
    text-align: center;
    margin: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-size: 25px;
}
.sec-mujer1 a{
    margin-top: 15px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    margin-left: 30px;
    font-size: 10px;
}

.sec-mujer1 img{
    width: 50%;
    height: 200px;
}
.Productos-t p{
    color: #9e3500;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica;
}

.Productos-t h2{
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
}

.Productos-t h3{
    font-size: 10px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
}


.Productos-t h4{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
}

.nosotros-1 iframe{
    width: 300px;
}
.nosotros-2{
    margin-right: 0px;
    background-color: white;
    width: 100%;
    font-size: 15px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    margin-top: 0px;
}

.nosotros-3{
    margin-left: 40px;
    font-size: 13px;
    color: white;
    border: 2px rgb(255, 255, 255);
    width: 350px;
    height: 650px;
    text-align: center;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.maps iframe{
    width: 200px;
    height: 150px;
    margin-top: 30px;
    align-items: center;
}

.iconos-2 a{
    text-decoration: none;
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-size: 10px;
}
.iconos-1 a img{
    width: 40px;
    height: 40px;
}
}

@media screen and (max-width: 655px) {
    .derechos{
    font-size: 10px;
    text-align: center;
    background-color:#111;
    width: 100%;
    color: rgb(151, 151, 151);
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
    display: flex;
    flex-wrap: wrap;
}
.derechos-1 a{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 7px;
    text-decoration: none;
    color: rgb(151, 151, 151);
}
.derechos-2{
    text-decoration: none;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 200px) !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 200px;
}
}

@media screen and (max-width: 614px){
    .zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 175px;
    padding: 5px;
}
.zapatillas div img{
    width: 100%;
    height: 200px;
}
.caja-1{
    width: 175px;
    height: 100%;
    border : 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fondo a img{
    padding-left: 10px;
}

.fondo ul li{
    font-size: 15px;
}
.caja-2{
    width: 175px;
    height: 100%;
    border: 1px white solid;
}
.Productos-t{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.Productos-t div{
    border: 2px white solid;
    width: 200px;
    height: 500px;
    text-align: center;
    margin: 10px
}

.Productos-t img{
    width: 100%;
    height: 250px;
}

.titulo h1{
    font-family: Arial, Helvetica;
    text-align: center;
    margin-bottom: 0 !important;
    margin-left: 20px;
    font-size: 13px;
    padding: 5px;
}
.Productos div{
    border: 2px white solid;
    width: 300px;
    height: 600px;
    text-align: center;
    margin: 50px
}

.Productos img{
    width: 100%;
    height: 320px;
}

}

@media screen and (max-width: 503px){
    .derechos{
    font-size: 10px;
    text-align: center;
    background-color:#111;
    width: 100%;
    color: rgb(151, 151, 151);
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
    display: flex;
    flex-wrap: wrap;
}
.caja-1{
    width: 100px;
    height: 100%;
    border : 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 200px;
    padding: 5px;
}
.derechos-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}
.derechos{
    font-size: 15px;
    text-align: center;
    background-color:#111;
    width: 100%;
    color: rgb(151, 151, 151);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    border-top: 1px solid rgba(170, 170, 170, 0.342);
}
.derechos-1{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin: 10px;
}
.allstar img{
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 5px;
}

.allstar a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica;
    margin-left: 5px;
}
.nosotros h2{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 40px;
}
}

@media screen and (max-width: 400px){
    .home p{
    margin-top: 20px;
}

.home p a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 15px;
}

.home h3{
    margin-left: 10px;
    font-size: 17px;
}

.zapatillas div{
    text-align: center;
    border: 2px solid white;
    width: 150px;
    padding: 5px;
}
.zapatillas div img{
    width: 100%;
    height: 150px;
}

.zapatillas h2{
    font-size: 15px;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-bottom: 10px;
}

.zapatillas h3{
    font-size: 12px;
    color: #6c6c6d;
    font-family: Arial, Helvetica;
    font-weight: 700;
    margin-top: 20px;
}


.zapatillas h4{
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica;
    font-weight: 700;
}

.caja-1{
    width: 155px;
    height: 100%;
    border : 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oportunidades{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    width: 130px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.oportunidades label{
    font-size: 13px;
}

.oportunidades h3{
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.tecno h3{
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.tecno{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Productos div{
    border: 2px white solid;
    width: 250px;
    height: 450px;
    text-align: center;
    margin: 50px
}

.Productos img{
    width: 100%;
    height: 270px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 175px) !important;
    grid-template-rows: repeat(4, 100px);
    gap: 0 0px;
    margin-left: 0px;
    margin-top: 30px;
    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 150px;
}
.container input{
    height: auto;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3f3f40;
    font-weight: 400;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
}
.container label{
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica;
}
.comunidad h2{
    font-size: 20px;
    font-weight: 400;
    font-family: "Alfa Slab One", serif;
}

.comunidad p{
    font-size: 15px;
    margin-right: 10px;
}
.terminos{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
}
.enviar input{
    background-color: #111;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica;
    font-weight: 600;
    width: 130px;
    height: 30px;
}
.contraseña{
    padding-top: 15px;
}

}