//? iNDEX
.btn-secondary {
    background-color: $color-primario;
    color: $color-terciario;
}

.menu {
    @include flex(flex, space-between);
    margin-top: 40px;

    .home {
        p {
            margin-top: 20px;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color: $color-letras;
            margin-left: 50px;
        }

        h3 {
            margin-left: 20px;
            font-size: 25px;
        }
    }
    .dropdown{
        margin-top: 50px;
        margin-right: 10px;
    }
}

.caja {
    display: flex;
    margin-top: 20px;

    .caja-1 {
        width: 250px;
        height: 100%;
        border: 2px $color-terciario solid;
        @include direction (flex, column, space-between);

        .oportunidades {
            @include tecno (flex, column);
            margin-left: 10px;
            font-weight: 500;
            border-bottom: 2px solid rgba(0, 0, 0, 0.349);
            width: 170px;
            margin-top: 20px;
            padding-bottom: 20px;

            h3 {
                font-size: 20px;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }

            .oportunidades-1 {
                @include flex(flex, space-between);
                margin: 10px;

                label {
                    height: 20px;
                    width: 30%;
                    border: 1px solid #1614147e;
                    display: flex;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                }
            }
        }
        .tecno {
            @include tecno(flex, column);
            margin-top: 20px;
            margin-left: 10px;
            font-weight: 600;
            margin-bottom: 10px;

            h3 {
                font-size: 20px;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }



    .caja-2 {
        width: 100%;
        height: 100%;
        border: 2px $color-terciario solid;

        .zapatillas {
            @include flex (flex, space-evenly);
            margin: 20px;

            div{
                text-align: center;
                border: 2px solid $color-terciario;
                width: 400px;
                padding: 10px;
                margin: 20px;
                transition: 1s;
                margin-bottom: 30px;
                    &:hover{
                    transform: scale(1.1);
                    box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
                    -webkit-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
                    -moz-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
                    }

                img {
                    width: 100%;
                    height: 350px;
                }

                p {
                    color: $color-tarjeta;
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 15px;
                    font-family: Arial, Helvetica;
                }

                h2 {
                    font-size: 20px;
                    font-family: Arial, Helvetica;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 15px;
                    color: $titulo-tarjeta;
                    font-family: Arial, Helvetica;
                    font-weight: 700;
                    margin-top: 20px;
                }

                h4 {
                    font-size: 15px;
                    color: $color-letras;
                    font-family: Arial, Helvetica;
                    font-weight: 700;
                }

                button {
                    background-color: $color-primario;
                    color: $color-terciario;
                    border-radius: 999px;
                    padding: 10px;
                    margin-top: 10px;
                    transition: 1s;
                }
            }
        }
    }
}

//? NOSOTROS

.nosotros-1 {
    background-image: url(../img/nosotros-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin-bottom: 40px;
    @include align(flex, space-around, center);

    .nosotros-3 {
        color: $color-terciario;
        border: 2px rgb(255, 255, 255);
        width: 600px;
        height: 600px;
        margin-right: 50px;
        text-align: center;

        img {
            width: 250px;
            height: 150px;
        }

        h2 {
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
        }
        a {
            text-decoration: none;
            color: $color-letras;

            h3{
                width: 600px;
                margin-right: 50px;
                background-color: $color-terciario;
                font-size: 30px;
                font-family: "Poetsen One", sans-serif;
                font-weight: 600;
                text-align: center;
                padding: 5px;
                border-radius: 20px;
                margin-top: 10px;
                transition: 1s;
                    &:hover{
                    transform: scale(1.1);
                    }
                }
            }
    }
    .maps {
        div {
            iframe {
                margin-top: 50px;
                align-items: center;
            }
        }
    }

    .iconos {
        @include flex (flex, space-around);

        .iconos-1 {
            @include direction (flex, column, space-around);

            a {
                img {
                    background-color: $color-terciario;
                    border: 2px solid $color-terciario;
                    border-radius: 999px;
                    padding: 8px;
                    margin: 10px;
                }
            }
        }

        .iconos-2 {
            @include direction (flex, column, space-around);

            a {
                text-decoration: none;
                color: white;
                font-family: "Poetsen One", sans-serif;
                font-weight: 300;
            }
        }
    }
}

.nosotros-P {
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.Productos{
    @include flex (flex, space-around);

    div {
        border: 2px white solid;
        width: 400px;
        height: 640px;
        text-align: center;
        margin: 50px;
        transition: 1s;
            &:hover{
        transform: scale(1.1);
        box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -moz-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
    }

        img {
            width: 100%;
            height: 420px;
            padding: 5px;
        }

        p {
            color: $color-tarjeta;
            margin-top: 15px;
            font-weight: 700;
            font-size: 15px;
            font-family: Arial, Helvetica;
        }

        h2 {
            font-size: 20px;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 15px;
            color: $titulo-tarjeta;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-top: 20px;
        }

        h4 {
            font-size: 15px;
            color: $color-letras;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-top: 5px;
        }

        button {
            background-color: black;
            color: white;
            border-radius: 999px;
            padding: 10px;
            margin-top: 10px;
        }
    }

    .productos-c {
        img {
            width: 100%;
        }
    }

    .productos-r {
        img {
            width: 390px;
        }
    }
}

//? MUJER / HOMBRE

.sec-mujer {
    @include flex (flex, center);

    img {
        width: 50%;
        height: 700px;
        border-right: 5px solid white;
    }
}

.sec-mujer-titulo {
    text-align: center;

    h2 {
        font-size: 60px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 600;
        margin-top: 10px;
    }

    p {
        font-size: 20px;
        font-family: Arial, Helvetica;
        font-weight: 400;
        margin-top: 10px;
    }

    button {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
        background-color: black;
        color: $color-terciario;
        border-radius: 999px;
        padding: 10px;
        transition: 1s;
            &:hover{
                transform: scale(1.1);
                background-color: #700000;
            }
    }
}

.zapatillas {
    @include flex (flex, space-evenly);
    margin: 20px;

    div {
        text-align: center;
        border: 2px solid white;
        width: 400px;
        padding: 10px;
        margin-bottom: 50px;
        transition: 1s;
            &:hover{
        transform: scale(1.1);
        box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -moz-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
    }

        img {
            width: 100%;
            height: 350px;
        }

        p {
            color: $color-tarjeta;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 15px;
            font-family: Arial, Helvetica;
        }

        h2 {
            font-size: 20px;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 15px;
            color: $titulo-tarjeta;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-top: 20px;
        }

        h4 {
            font-size: 15px;
            color: $color-letras;
            font-family: Arial, Helvetica;
            font-weight: 700;
        }

        button {
            background-color: $color-letras;
            color: white;
            border-radius: 999px;
            padding: 10px;
            margin-top: 10px;
        }
    }
}

.calzado {
    margin: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.sec-mujer1 {
    @include tecno (flex, column);

    div {
        @include flex (flex, space-around);

        img {
            width: 50%;
            height: 800px;
            border-right: 5px solid white;
        }
    }

    div {
        @include flex (flex, space-around);

        a {
            margin-top: 15px;
            font-family: "Poetsen One", sans-serif;
            font-weight: 200;
            font-size: 20px;
        }
    }
}

.Productos-t {
    @include flex (flex, space-around);
    margin: 20px;

    div {
        border: 2px white solid;
        width: 435px;
        height: 670px;
        text-align: center;
        transition: 1s;
        margin-bottom: 50px;
            &:hover{
        transform: scale(1.1);
        box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
        -moz-box-shadow: 7px 7px 32px -4px rgba(0,0,0,0.4);
    }

        img {
            width: 100%;
            height: 450px;
            padding: 5px;
        }

        p {
            color: $color-tarjeta;
            margin-top: 10px;
            font-weight: 700;
            font-size: 15px;
            font-family: Arial, Helvetica;
        }

        h2 {
            font-size: 20px;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 15px;
            color: $titulo-tarjeta;
            font-family: Arial, Helvetica;
            font-weight: 700;
            margin-top: 20px;
        }


        h4 {
            font-size: 15px;
            color: $color-letras;
            font-family: Arial, Helvetica;
            font-weight: 700;
        }

        button {
            background-color: $color-letras;
            color: white;
            border-radius: 999px;
            padding: 10px;
        }
    }
}


//? CONTACTO

.comunidad {
    text-align: center;
    margin-left: 30px;

    img {
        width: 280px;
        height: 200px;
    }

    h2 {
        font-size: 40px;
        font-weight: 400;
        font-family: "Alfa Slab One", serif;
    }

    p {
        font-size: 20px;
    }
}

form {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 900px) !important;
        grid-template-rows: repeat(4, 100px) !important;
        gap: 0 18px;
        margin-left: 30px;
        margin-top: 30px;

        .container {
            @include direction (flex, column, center);
            margin: 10px;

            label {
                margin: 10px;
                font-size: 18px;
                font-family: Arial, Helvetica;
            }

            input {
                height: auto;
                font-size: 15px;
                font-family: Helvetica, Arial, sans-serif;
                color: $color-formulario;
                font-weight: 400;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }

            select {
                font-size: 15px;
                font-family: Helvetica, Arial, sans-serif;
                color: $color-formulario;
                font-weight: 400;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }
        }
        .enviar {
            @include tecno (flex, row-reverse);
                padding-top: 20px;

                input {
                    background-color: $color-primario;
                    color: $color-terciario;
                    cursor: pointer;
                    font-family: Arial, Helvetica;
                    font-weight: 600;
                    width: 400px;
                    height: 45px;
                    transition: 1s;
                    &:hover{
                    transform: scale(1.1);
                    }
                }
            }
    }
}

.terminos {
    p{
        text-align: center;
        font-weight: 700;
        margin: 10px;
                span{
                    transition: 1s;
                        &:hover{
                        transform: scale(1);
                        color: rgb(0, 0, 172);
                        }
                }
    }
}