@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Codystar:wght@300;400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Anton&family=Bebas+Neue&family=Carter+One&family=Codystar:wght@300;400&family=Lilita+One&family=Poetsen+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}