@media screen and (max-width:1629px) {
    .zapatillas {
        div {
            text-align: center;
            border: 2px solid white;
            width: 350px;
            padding: 10px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 600px !important;
        grid-template-rows: repeat(4, 100px);
        gap: 0 18px;
        margin-left: 30px;
        margin-top: 30px;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
            width: 400px;

            input {
                height: auto;
                font-size: 15px;
                font-family: Helvetica, Arial, sans-serif;
                color: #3f3f40;
                font-weight: 400;
                width: 400px;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 1466px) {
    .zapatillas {
        div {
            text-align: center;
            border: 2px solid white;
            width: 175px;
            padding: 5px;

            img {
                width: 100%;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 1139px) {
    .zapatillas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 20px;
    }

    .sec-mujer {
        img {
            width: 50%;
            height: 500px;
        }
    }

    .sec-mujer1 {
        img {
            width: 50%;
            height: 500px;
        }
    }
}

@media screen and (max-width:1000px) {
    .Productos {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            border: 2px white solid;
            width: 400px;
            height: 450px;
            text-align: center;
            margin: 10px
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1, 900px;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
}

.nosotros-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

    .nosotros-2 {
        margin-right: 50px;
        background-color: white;
        width: 500px;
        font-size: 30px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        border-radius: 20px;
        margin-top: 0px;
    }

    .nosotros-3 {
        font-size: 13px;
        color: white;
        border: 2px rgb(255, 255, 255);
        width: 350px;
        height: 400px;
        text-align: center;

        img {
            width: 110px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 761px) {
    .fondo {
        font-family: "Ancizar Serif", serif;
        background-color: #111;
        width: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .sec-mujer {
        img {
            width: 50%;
            height: 200px;
        }
    }

    .sec-mujer-titulo {
        h2 {
            font-size: 30px;
            font-family: "Poetsen One", sans-serif;
            font-weight: 600;
            margin-top: 10px;
        }

        p {
            font-size: 15px;
            font-family: Arial, Helvetica;
            font-weight: 400;
            margin-top: 10px;
        }

    }

    .zapatillas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .calzado {
        text-align: center;
        margin: 50px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 200;
        font-size: 25px;
    }

    .sec-mujer1 {
        div {
            img {
                width: 50%;
                height: 200px;
            }
        }

        div {
            a {
                margin-top: 15px;
                font-family: "Poetsen One", sans-serif;
                font-weight: 200;
                margin-left: 30px;
                font-size: 10px;
            }
        }
    }

    .Productos-t {
        div {
            p {
                color: #9e3500;
                margin-top: 10px;
                font-weight: 700;
                font-size: 15px;
                font-family: Arial, Helvetica;
            }

            h2 {
                font-size: 15px;
                font-family: Arial, Helvetica;
                font-weight: 700;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 10px;
                color: #6c6c6d;
                font-family: Arial, Helvetica;
                font-weight: 700;
                margin-top: 20px;
            }

            h4 {
                font-size: 15px;
                color: black;
                font-family: Arial, Helvetica;
                font-weight: 700;
            }
        }
    }

    .nosotros-1 {
        .nosotros-3 {
            margin-left: 40px;
            font-size: 13px;
            color: white;
            border: 2px rgb(255, 255, 255);
            width: 350px;
            height: 650px;
            text-align: center;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .nosotros-2 {
            margin-right: 0px;
            background-color: white;
            width: 100%;
            font-size: 15px;
            font-family: "Poetsen One", sans-serif;
            font-weight: 600;
            text-align: center;
            padding: 3px;
            border-radius: 20px;
            margin-top: 0px;
        }
    }

    .maps {
        div {
            iframe {
                width: 200px;
                height: 150px;
                margin-top: 30px;
                align-items: center;
            }
        }
    }

    .iconos {
        .iconos-1 {
            a {
                width: 40px;
                height: 40px;
            }
        }

        .iconos-2 {
            a {
                text-decoration: none;
                color: white;
                font-family: "Poetsen One", sans-serif;
                font-weight: 300;
                font-size: 10px;
            }
        }
    }
}

