@media screen and (max-width:1629px) {
    .zapatillas {
        div {
            text-align: center;
            border: 2px solid white;
            width: 350px;
            padding: 10px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 600px !important;
        grid-template-rows: repeat(4, 100px);
        gap: 0 18px;
        margin-left: 30px;
        margin-top: 30px;

        .container {
            @include direction (flex, column, center);
            margin: 10px;
            width: 400px;

            input {
                height: auto;
                font-size: 15px;
                font-family: Helvetica, Arial, sans-serif;
                color: #3f3f40;
                font-weight: 400;
                width: 400px;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 1466px) {
    .zapatillas {
        div {
            text-align: center;
            border: 2px solid white;
            width: 175px;
            padding: 5px;

            img {
                width: 100%;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 1139px) {
    .zapatillas {
        @include direction (flex, column, space-evenly);
        margin: 20px;
    }

    .sec-mujer {
        img {
            width: 50%;
            height: 500px;
        }
    }

    .sec-mujer1 {
        img {
            width: 50%;
            height: 500px;
        }
    }
}



@media screen and (max-width:1000px) {
    .Productos {
        @include direction (flex, column, center);
        margin-bottom: 10px;

        div {
            border: 2px white solid;
            width: 400px;
            height: 450px;
            text-align: center;
            margin: 0px;
        }
    }
    .grid-container {
    display: grid;
    grid-template-columns: 1, 900px;
    grid-template-rows: repeat(4, 100px);
    gap: 0 18px;
    margin-left: 30px;
    margin-top: 30px;
}

.nosotros-1{
    @include direction (flex, column, center);
    margin-top: 0px;
    padding: 0px;

    .nosotros-3{
        font-size: 13px;
        color: $color-terciario;
        border: 2px rgb(255, 255, 255);
        width: 350px;
        height: 620px;
        text-align: center;
        margin-left: 40px;
        padding: 30px;
        img{
            width: 110px;
            height: 80px;
        }
        a{
            h3{
                margin-right: 50px;
                background-color: $color-terciario;
                width: 300px;
                font-size: 20px;
                font-family: "Poetsen One", sans-serif;
                font-weight: 600;
                text-align: center;
                padding: 5px;
                border-radius: 20px;
                margin-top: 0px;
            }
        }
    }
    
.maps {
        margin-left: 30px;
    div {
        iframe {
            width: 200px;
            height: 150px;
            margin-top: 50px !important;
            align-items: center;
        }
    }
    .iconos{
        .iconos-1{
            a{
                margin: 5px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .iconos-2{
            a{
                text-decoration: none;
                color: $color-terciario;
                font-family: "Poetsen One", sans-serif;
                font-weight: 300;
                font-size: 10px;
                padding-left: 15px;
                padding-top: 15px;
            }
        }
    }
}
}



@media screen and (max-width: 761px) {
    .fondo {
        font-family: "Ancizar Serif", serif;
        background-color: $color-primario;
        width: 100%;
        height: 100%;
        color: $color-footer;
        @include direction (flex, column, space-between);
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .sec-mujer {
        img {
            width: 50%;
            height: 200px;
        }
    }

    .sec-mujer-titulo {
        h2 {
            font-size: 30px;
            font-family: "Poetsen One", sans-serif;
            font-weight: 600;
            margin-top: 10px;
        }

        p {
            font-size: 15px;
            font-family: Arial, Helvetica;
            font-weight: 400;
            margin-top: 10px;
        }

    }

    .zapatillas {
        @include items (flex, column, center);
        margin: 20px;
    }

    .calzado {
        text-align: center;
        margin: 50px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 200;
        font-size: 25px;
    }

    .sec-mujer1 {
        div {
            img {
                width: 50%;
                height: 200px;
            }
        }

        div {
            a {
                margin-top: 15px;
                font-family: "Poetsen One", sans-serif;
                font-weight: 200;
                margin-left: 30px;
                font-size: 8px;
            }
        }
    }

    .Productos-t {
        @include items (flex, column, center);
        div {
            p {
                color: $color-tarjeta;
                margin-top: 10px;
                font-weight: 700;
                font-size: 15px;
                font-family: Arial, Helvetica;
            }

            h2 {
                font-size: 15px;
                font-family: Arial, Helvetica;
                font-weight: 700;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 10px;
                color: $titulo-tarjeta;
                font-family: Arial, Helvetica;
                font-weight: 700;
                margin-top: 20px;
            }

            h4 {
                font-size: 15px;
                color: black;
                font-family: Arial, Helvetica;
                font-weight: 700;
            }
        }
    }

.iconos {
    .iconos-1 {
        a {
            width: 40px;
            height: 40px;
        }
    }

    .iconos-2 {
        a {
            text-decoration: none;
            color: $color-terciario;
            font-family: "Poetsen One", sans-serif;
            font-weight: 300;
            font-size: 10px;
        }
    }
}


@media screen and (max-width: 655px) {
    .derechos {
        font-size: 10px;
        text-align: center;
        background-color: #111;
        width: 100%;
        color: $color-formulario;
        text-decoration: none;
        border-top: 1px solid rgba(170, 170, 170, 0.342);
        display: flex;
        flex-wrap: wrap;

        .derechos-1 {

            a {
                font-size: 15px;
                margin-left: 20px;
                margin-top: 7px;
                text-decoration: none;
                color: rgb(151, 151, 151);
            }
        }

        .derechos-2 {
            text-decoration: none;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 200px) !important;
        grid-template-rows: repeat(4, 100px);
        gap: 0 18px;
        margin-left: 30px;
        margin-top: 30px;

        .container {
            @include direction (flex, column, center);
            margin: 10px;
            width: 200px;
        }
    }
}

@media screen and (max-width: 614px) {
    .zapatillas {

        div {
            text-align: center;
            border: 2px solid white;
            width: 175px;
            padding: 5px;

            img {
                width: 100%;
                height: 200px;
            }
        }
    }

    .caja {

        .caja-1 {
            width: 175px;
            height: 100%;
            border: 2px white solid;
            @include direction (flex, column, space-between);
        }

        .caja-2 {
            width: 175px;
            height: 100%;
            border: 1px white solid;
        }
    }

    .fondo {
        img {
            padding-left: 10px;
        }

        li {
            font-size: 15px;
        }
    }

    .Productos-t {
        @include direction (flex, column, center);
        margin: 20px;

        div {
            border: 2px white solid;
            width: 200px;
            height: 500px;
            text-align: center;
            margin: 10px;

            img {
                width: 100%;
                height: 250px;
            }
        }
    }

    .titulo {
        h1 {
            font-family: Arial, Helvetica;
            text-align: center;
            margin-bottom: 0 !important;
            margin-left: 20px;
            font-size: 13px;
            padding: 5px;
        }
    }

    .Productos {
        div {
            border: 2px white solid;
            width: 300px;
            height: 600px;
            text-align: center;
            margin: 50px;

            img {
                width: 100%;
                height: 320px;
            }
        }
    }
}


@media screen and (max-width: 503px) {
    .caja-1 {
        width: 100px;
        height: 100%;
        border: 2px white solid;
        @include direction (flex, column, space-between);
    }

    .zapatillas {
        div {
            text-align: center;
            border: 2px solid white;
            width: 200px;
            padding: 5px;
        }
    }

.dropdown{
    margin-top: 40px;
    margin-left: 10px !important;
}

.derechos {
        font-size: 15px;
        text-align: center;
        background-color: #111;
        width: 100%;
        color: rgb(151, 151, 151);
        @include direction (flex, column, space-between);
        text-decoration: none;
        border-top: 1px solid rgba(170, 170, 170, 0.342);

        .derechos-1 {
            @include flex (flex, center);
            padding-right: 20px;
            margin: 10px;
        }

        .derechos-2 {
            @include direction (flex, column, space-between);
            text-decoration: none;
        }
    }

    .allstar {
        img {
            width: 30px !important;
            height: 30px !important;
            margin-left: 50px;
            margin-top: 10px;
        }

        ul {
            li {
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 10px;
                    font-family: Arial, Helvetica;
                    margin-left: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .whatsapp {
        position: fixed;
        right: 50px;
        bottom: 60px;
        width: 10px;
        height: 10px;
    }

    .menu {
        .home {
            h3 {
                margin-left: 10px;
                font-size: 17px;
            }

            p {
                margin-top: 20px;

                a {
                    text-decoration: none;
                    color: black;
                    margin-left: 15px;
                    font-size: 15px;
                }
            }
        }
    }

    .caja {
        .caja-1 {
            width: 155px;
            height: 100%;
            border: 2px white solid;
            @include direction (flex, column, space-between);

            .oportunidades {
                @include tecno (flex, column);
                margin-left: 10px;
                font-weight: 500;
                border-bottom: 2px solid rgba(0, 0, 0, 0.349);
                width: 130px;
                margin-top: 20px;
                padding-bottom: 20px;

                label {
                    font-size: 13px;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            .tecno {
                @include tecno (flex, column);
                margin-top: 20px;
                margin-left: 10px;
                font-weight: 600;
                margin-bottom: 10px;

                div {
                    h3 {
                        font-size: 15px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }

        .caja-2 {
            .zapatillas {
                div {
                    text-align: center;
                    border: 2px solid white;
                    width: 150px;
                    padding: 5px;

                    img {
                        width: 100%;
                        height: 150px;
                    }

                    h2 {
                        font-size: 15px;
                        font-family: Arial, Helvetica;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-size: 12px;
                        color: $titulo-tarjeta;
                        font-family: Arial, Helvetica;
                        font-weight: 700;
                        margin-top: 20px;
                    }

                    h4 {
                        font-size: 12px;
                        color: $color-letras;
                        font-family: Arial, Helvetica;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .Productos {
        div {
            border: 2px white solid;
            width: 250px;
            height: 450px;
            text-align: center;
            margin: 50px;

            img {
                width: 100%;
                height: 270px;
            }
        }
    }

    form {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 175px) !important;
            grid-template-rows: repeat(4, 100px);
            gap: 0 0px;
            margin-left: 0px;
            margin-top: 30px;

            .container {
                @include direction (flex, column, center);
                margin: 10px;
                width: 150px;

                input {
                    height: auto;
                    font-size: 15px;
                    font-family: Helvetica, Arial, sans-serif;
                    color: white;
                    font-weight: 400;
                    width: 130px;
                    padding: 5px;
                    border-radius: 10px;
                }

                label {
                    margin: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: Arial, Helvetica;
                }
            }
        }
    }

    .comunidad {
        h2 {
            font-size: 20px;
            font-weight: 400;
            font-family: "Alfa Slab One", serif;
        }

        p {
            font-size: 15px;
            margin-right: 10px;
        }
    }

    .terminos {
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        margin: 10px;
    }

    .enviar {
        input {
            background-color: #111;
            color: #fff;
            font-size: 12px;
            font-family: Arial, Helvetica;
            font-weight: 600;
            width: 130px;
            height: 30px;
        }
    }

    .contraseña {
        padding-top: 15px;
    }
}
}
.fondo{
    .pedidos{
        p{
            margin: 5px;
            margin-bottom: 20px;
        }
    }
}
}